@import '../../../assets/scss/helpers';

.menu {
  @include breakpoint-md {
    display: block;
    justify-self: flex-end;
  }

  &__toggle {
    @extend %button-reset;
    background: none;
    display: block;

    @include breakpoint-md {
      display: none;
    }

    svg {
      transform: inherit;
      transition: transform 0.3s ease-in-out;
    }

    &--is-active {
      background: none;

      svg {}
    }
  }

  &__list {
    @include clear-list-style;
    display: none;

    @include breakpoint-md {
      display: inline-flex;
    }



    &-item {
      @include clear-list-style;
      display: block;

      &-link {
        @include clear-list-style;
        @include menu;
        color: $text-mid;
        font-weight: $font-weight-medium;
        border: 0;
        padding: 8px 16px;

        &:hover,
        &:focus {
          color: $text-dark;
        }

        &--active {
          color: $text-dark;
        }

      }

      &--signin a {
        color: $text-dimmed;
      }

      &--signup a {
        @extend %button,
        %button-secondary;
        margin: 0;
        padding: 7px 12px 8px 12px;
      }
    }

    &--account {
      display: none;
      @include clear-list-style;

      li {
        @include clear-list-style;
      }

      @include breakpoint-md {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
      }
    }

  }

}
