@import '../../../assets/scss/helpers';

.menu {
  @include breakpoint-md {
    display: block;
    justify-self: flex-end;
  }

  &__toggle {
    @extend %button-reset;
    background: none;
    display: block;

    @include breakpoint-md {
      display: none;
    }

    svg {
      transform: inherit;
      transition: transform 0.3s ease-in-out;
    }

    &--is-active {
      background: none;

      svg {}
    }
  }

  &__list {
    @include clear-list-style;
    display: none;

    @include breakpoint-md {
      display: inline-flex;
    }

    &-mobile {
      @include clear-list-style;
      position: absolute;
      opacity: 0;
      background: $color-white;
      top: $header-mobile-height;
      bottom: 0;
      right: 0;
      left: 0;
      visibility: hidden;
      width: 100%;
      height: calc(100vh - #{$header-mobile-height});
      padding: 0px 16px;
      transition: visiblity 100ms ease-in-out, opacity 100ms ease-in-out;

      .headroom--unpinned & {
        height: calc(100vh + #{$header-mobile-height * 5});
      }

      @include breakpoint-md {
        display: none;
      }

      &-wrapper {
        position: absolute;
        bottom: 16px;
        left: 16px;
      }

      &--is-active {
        position: fixed;
        display: block;
        visibility: visible;
        opacity: 1;
        z-index: 900;

        @include breakpoint-md {
          display: none;
        }
      }

      &-item {
        @include clear-list-style;
        font-size: 28px;

        &-link {
          display: block;
          color: $text-dimmed;
          padding: 8px 0;
        }

        &--signup button {
          @extend %button-reset;
          margin: 0;
          color: $color-primary;
          padding: 8px 0;


          &:hover {
            color: $color-primary;
            padding: 8px 0;
          }
        }
      }
    }

    &-item {
      @include clear-list-style;
      display: block;

      &-link {
        @include clear-list-style;
        @include menu;
        color: $text-mid;
        font-weight: $font-weight-medium;
        border: 0;
        padding: 8px 16px;

        &:hover,
        &:focus {
          color: $text-dark;
        }

        &--active {
          color: $text-dark;
        }

      }

      &--signin a {
        color: $text-dimmed;
      }

      &--signup button {
        @extend %button-secondary;
        margin: 0;
        padding: 5px 12px 6px 12px;
      }
    }

    &--account {
      display: none;
      @include clear-list-style;

      li {
        @include clear-list-style;
      }

      @include breakpoint-md {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
      }
    }

  }

}
