@import '../../assets/scss/helpers';

.page {
  @include margin-bottom(2);

  &__inner,
  &__inner--center {
    @extend %layout-container;
  }

  &__inner {
    &--center {
      @extend %layout-container-center;
    }
  }

  &__title {
    @include h2;
  }

  &__subtitle {
    @include body-l;
    @include margin-bottom(3);

    .page__inner--center & {
      lost-center: 640px;
    }
  }

  &__body {
    font-size: $typographic-base-font-size;
    @include line-height(1);
    @include margin(0, 0, 1);
  }

}

@include breakpoint-sm {
  .page {
    &__inner {
    }
  }
}

@include breakpoint-md {
  .page {
    &__inner {
      padding: 40px 35px;
    }
  }
}
