@import '../../assets/scss/helpers';

.header {
  position: relative;
  box-sizing: border-box;
  // background: $color-header-background;
  backface-visibility: hidden;
  z-index: 9999;

  &__inner {
    @extend %layout-container;
    lost-center: 1000px;
    display: flex;
    height: $header-mobile-height;
    align-items: center;

    @include breakpoint-md {
      height: $header-height;
    }
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    flex: 1;

    a {
      display: inline-flex;
      align-items: center;
    }

    svg {
      width: auto;
      height: 24px;

      @include breakpoint-md {
        width: auto;
        height: 24px;

      }
    }
  }
}
