@import '../../../assets/scss/helpers';

.integrations {
  @extend %layout-container-center,
  %layout-container-divider;


  &__title {
    @extend %section-title;
  }

  &__subtitle {
    @extend %subtitle;
  }

  &__list {
    @include clear-list-style;
    @include margin-bottom(2);
  }

  &__split {
    display: block;
    width: 100%;
  }

  &__button {
    @extend %button-base,
    %button-plain;
    color: $color-primary;
    padding: 8px 12px;
    @include margin-bottom(0);

    &:hover {
      color: $color-primary;
    }
  }

  &__item {
    @include clear-list-style;
    background: $color-background-highlight;
    display: inline-block;
    border-radius: 38% 62% 55% 45% / 46% 47% 53% 54%;
    padding: 20px;
    margin: 8px 8px;
    animation: moveUpDown 3s ease-in-out infinite alternate both;

    @include delay(animation-delay, 9, 0.5s);
    @include alternate(animation-direction, 9/3, alternate-reverse);

    svg {
      height: 32px;
      width: 32px;
    }

    @include breakpoint-md {
      padding: 24px;
      margin: 8px 16px;
    }



    &--slack,
    &--jira {
      background: #F6F1FB;
      border-radius: 60% 40% 54% 46% / 57% 51% 49% 43%
    }

    &--twitter,
    &--intercom {
      background-color: #EEF7FD;
      border-radius: 71% 30% 33% 67% / 38% 35% 63% 60%;
    }

    &--gmail {
      background-color: #FCEEEC;
    }

    &--zapier {
      background-color: #FEF8EC;
    }

    &--zendesk,
    &--chrome {
      background-color: #E8F6F4;
    }

    &-image {
      width: 32px;
      height: 32px;
    }
  }
}
