/**
 * Variables
 */

// Colors
// $color-base: #040402;
$color-base: #0d151e;

$color-base-text: #24374e;
// $color-primary: #00AAF1;
$color-primary: #1fb6ff;
$color-secondary: #f7a046;
$color-yellow: #F1BD45;
$color-purple: #A374D7;
$color-green: #60d956;

$color-white: #fff;
$color-gray: transparentize($color-base, 0.4);
$color-border: #f2f2f6;
$color-border-light: #f2f2f6;
$color-gray-background: #f8f9fa;

// $color-background: #fffefc;
// $color-background: #fffefc;
$color-background: $color-white;
$color-background-highlight: $color-gray-background;

$color-header-background: $color-background;
$base-border-radius: 3px;

// Typographic

// Todo: Remember to use Barlow
// Todo: Remember to use Fibra One
// Todo: Tofino Personal
$typographic-font-family: "Barlow",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
sans-serif;
$typographic-heading-font-family: -apple-system-headline,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.6;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(15 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Text Colors
$text-dark: $color-base-text;
$text-subdued: #687382; //#5D6B7D
$text-mid: #687382; //#5D6B7D
$text-dimmed: #586779; // #6A7A8E
$text-muted: #8d98a5; // #C3C9D1

// Font weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

// Inputs
$color-input-border: #E6E6EA;
$color-input-background: $color-white;
$input-height: 35px;
$color-input-placeholder: $text-muted;

// Buttons
$button-height: 35px;
$button-font-weight: $font-weight-bold;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 960px;
$layout-breakpoint-sm: 640px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;

// $text-dark: $color-base-text;
// $text-subdued: lighten($color-base-text, 20%); //#5D6B7D
// $text-mid: lighten($color-base-text, 30%); //#5D6B7D
// $text-dimmed: lighten($color-base-text, 50%); // #6A7A8E
// $text-muted: lighten($color-base-text, 60%); // #C3C9D1

$text-link-hover: darken($color-primary, 5%);

// Header heights
$header-height: 80px;
$header-mobile-height: 48px;

$animation-fast: cubic-bezier(0, .71, .24, 1);
$animation-medium: cubic-bezier(0, .36, .25, 1.02);
