@import "../../assets/scss/helpers";

$sidebar-width: 60%;
$promotion-width: calc(100% - #{$sidebar-width});

.sidebar {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;


  @include breakpoint-md {
    width: $sidebar-width;
    padding-right: 10%;
    padding-left: 10%;
  }

  .logo {
    display: none;

    @include breakpoint-md {
      display: block;

    }

    svg {
      height: 22px;
    }
  }
}

.promotion {
  display: none;

  @include breakpoint-md {
    display: block;
    width: $promotion-width;
    height: 100%;
    background: $color-primary;
  }
}


.back {
  position: absolute;
  color: $text-muted;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  left: 8px;
  top: 8px;
  border: 1px solid $color-border;
  width: 32px;
  height: 32px;
  padding: 5px;
  border-radius: 300px;
  z-index: 900;

  @include breakpoint-md {
    left: 24px;
    top: 24px;
  }

  &:hover {
    color: $text-dimmed;
  }
}
