@mixin delay($rule, $number, $value) {
  @for $i from 1 to ($number + 1) {
    &:nth-child(#{$i}) {
      -webkit-#{$rule}: (#{$i*$value});
      #{$rule}: (#{$i*$value}) !important;
    }
  }
}

@mixin alternate($rule, $number, $value) {
  @for $i from 1 to ($number + 1) {
    &:nth-child(#{$number}n) {
      -webkit-#{$rule}: $value;
      #{$rule}: $value !important;
    }
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: translateY(0);
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(-5px) scale(1);
  }

  100% {
    transform: translateY(0) scale(1.1);
  }
}


.slideInUp {
  animation: slideInUp 200ms ease-in-out;
}

.slideInOut {
  animation: slideInOut 200ms ease-in-out reverse;
}
