@mixin placeholder {
  // Firefox
  &::-moz-placeholder {
    color: $text-muted;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder { color: $text-muted; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $text-muted; } // Safari and Chrome
}
