@import '../../assets/scss/helpers';

// Single page
.integration {

  &__wrapper {
    text-align: center;
  }

  &__connect {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__title {
    @include h2;
    @include margin-top(1);
  }

  &__title,
  &__description {
    text-align: center;
  }

  &__description {
    @include body-l;
    lost-center: 640px;
  }

  &__plus {
    width: 32px;
    height: 32px;
    flex: none;
  }

  &__company-logo,
  &__logo {
    min-width: 120px;
    max-width: 120px;
  }

  &__company-logo {
    max-width: 120px;
  }

  &__logo {
    flex: 1;
    color: $color-primary;
  }

  &__button {
    @extend %button;
  }
}
