@import '../../assets/scss/helpers';

$sidebar-width: 60%;
$promotion-width: calc(100% - #{$sidebar-width});

.signin,
.signup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &__register {
    @include margin-bottom(2);
  }
}

.title {
  @include h3;
  @include margin-top(0);
  @include margin-bottom(2);

  span {
    font-weight: $font-weight-normal;
  }
}

.title+.subtitle {
  @include margin-bottom(2);
}


.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  height: 100%;
  width: 100%;
}


.forgot {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.input {
  margin-bottom: 0;

  // .fieldset:hover & {
  //   border: 1px solid darken($color-border, 15%);
  // }
}


.input-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  &--prefix {
    flex-direction: unset;
  }

  .input {
    flex: 1;
  }

  .input-prefix {
    color: $text-dark;
    font-weight: $font-weight-medium;
    padding-left: 16px;
  }
}

.button {
  @extend %button;
  height: 47px;
  width: 100%;
}

.notice {
  border-bottom: 1px solid $color-border;

  p {
    @include margin-bottom(0.5);
  }

  &--only {
    border-bottom: none;
  }

  .link {
    color: $text-dimmed;
    text-decoration: underline;
  }

  &+.notice {
    border-bottom: none;
  }
}

.fieldset {
  @include margin-bottom(1);

  &:hover input {
    border: 1px solid darken($color-border, 15%);
  }


}

.label {
  font-weight: $font-weight-medium;
  display: inline-flex;
  width: 100%;
  cursor: pointer;
  color: $text-dimmed;
  @include margin-bottom(0.5);

  &:hover,
  .wrapper:hover & {
    color: $text-dark;
  }

  span {
    flex: 1;
  }

  &--link {
    text-align: right;
  }
}


.required {
  color: red;
}
