@import "../../assets/scss/helpers";
$mobile-padding: 12px;
$desktop-padding: 20px;

// TODO: Follow netlify pricing plan

.pricing {
  &__wrapper {
    position: relative;
  }

  &__list {
    @include clear-list-style;
    lost-utility: clearfix;
    position: relative;

    @include breakpoint-md {
      margin: 0;
    }
  }

  &__signup {
    @include margin-top(-2);
  }

  &__item {
    @include clear-list-style;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
    lost-column: 1/2 2 16px;


    @include breakpoint-md {
      display: flex;
      align-items: stretch;
      lost-column: 1/4 4 20px;
      justify-content: stretch;
    }

    &-top-wrapper {
      padding-left: $mobile-padding;
      text-align: left;
      display: flex;
      flex: 1;
      flex-direction: column;

      @include breakpoint-md {
        padding-left: $desktop-padding;
      }
    }

    &-wrapper {
      border-radius: 8px;
      padding: $mobile-padding;
      background: $color-background-highlight;

      @include breakpoint-md {
        padding: $desktop-padding;
      }
    }

    &-image {
      margin-left: -30px;
      min-height: 100px;
      height: 140px;
    }

    &-image+&-title {
      @include margin-top(0.5);
    }

    &-price {
      display: inline-flex;
      margin-top: -4px;
    }

    &-price-currency,
    &-price-title,
    &-price-date {
      display: inline;
      margin-right: 6px;
    }

    &-price-currency {
      margin-top: 6px;
      margin-right: 4px;
    }

    &-price-date {
      @include body-s;
      @include margin(0, 0);
      align-self: flex-end;
      margin-bottom: 4px;

      @include breakpoint-md {
        @include line-height(1);
        margin-bottom: 4px;
      }
    }

    &-price-title {
      @include h2;
      @include margin-top(0);
      @include margin-bottom(0);
    }

    &-title {
      @include h5;
      @include margin-top(0);
    }

    &-subtitle {
      @include body-s;
      @include margin-top(0);
      @include margin-bottom(1.5);
      height: 36px;

      @include breakpoint-md {
        @include margin-bottom(1);
      }
    }

    &-features {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;

      @include breakpoint-md {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      &-item {
        @include body-s;
        @include margin-bottom(0.2);
        display: flex;
        width: auto;
        justify-content: flex-start;
        align-items: center;
      }
    }

    &-checkmark {
      padding: 1px;
      height: 14px;
      width: 14px;
      margin: 0px;
      margin-right: 8px;
      background-color: transparentize($color-primary, 0.8);
      border-radius: 300px;
      color: $color-primary;
    }

    &-button {
      display: block;
      @extend %button;
      @include margin-top(1);
      @include margin-bottom(0);

      @include breakpoint-md {
        @include margin-top(0.5);
      }
    }
  }

  &__toggle {
    position: relative;
    @include margin-top(6);
    @include margin-bottom(2);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;

    @include breakpoint-md {
      @include margin-top(0);
    }

    &-arrow {
      position: absolute;
      width: 23px;
      color: $color-green;
      height: 39px;
      right: -30px;
      top: 10px;
    }

    &-discount {
      @include overline;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -40px;
      line-height: 1;
      min-width: 184px;
      border-radius: 300px;
      background-color: $color-green;
      color: $color-white;
      padding: 6px 12px;
    }

    &-label {
      padding: 0 12px;
      cursor: pointer;

      &:hover {
        color: $text-dark;
      }
    }
  }
}

.custom-pricing {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  align-items: center;
  text-align: left;
  @include padding(2, 1);
  text-align: center;
  background: $color-background-highlight;

  @include breakpoint-md {
    flex-direction: row;
    @include padding(3, 2);
    text-align: left;
  }

  &__title {
    @include h5;
    @include margin-bottom(0.2);
    @include margin-top(0);
  }

  &__subtitle {
    @include margin-bottom(1);

    @include breakpoint-md {
      margin-bottom: 0;
    }
  }

  &__heading {

    @include breakpoint-md {
      flex: 1;
    }
  }

  &__button {
    display: block;
    align-self: center;
    @extend %button-secondary;
    justify-self: flex-end;
    @include margin-bottom(0);

    @include breakpoint-md {
      display: inline-block;
    }
  }
}

.pricing-faq {
  @extend %layout-container,
  %layout-container-divider;
}

.pricing-partners {
  @include margin-bottom(2);
}
