@import '../../assets/scss/helpers';


// TODO: Follow netlify pricing plan

.pricing {

  &__wrapper {
    position: relative;
  }

  // &__pattern {
  //   @extend %pattern;
  //   top: 10%;
  // }

  &__list {
    display: flex;
    position: relative;
    justify-content: stretch;
    flex-wrap: wrap;
    lost-utility: clearfix;
    list-style: none;
    padding: 0;
    margin: 0;

    @include breakpoint-lg {
      margin: 0;
    }
  }

  &__signup {
    @include margin-top(-2);
  }

  &__item {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    box-sizing: border-box;
    // border: 1px solid $color-border;
    background-color: $color-background-highlight;
    border-left: 0px;
    padding: 20px;
    margin-bottom: 20px;


    @include breakpoint-sm {
      lost-column: 1/2 2 20px;
    }
    @include breakpoint-md {
      lost-column: 1/4 4 20px;
    }

    &-image {
      margin-left: auto;
      margin-right: auto;
    }

    &-image + &-title {
      @include margin-top(0.5);
    }

    &-price {
      display: inline-flex;
      margin: 0 auto;
      margin-top: -4px;
    }

    &-price-currency,
    &-price-title,
    &-price-date {
      display: inline;
    }

    &-price-currency {
      margin-top: 6px;
    }

    &-price-date {
      align-self: flex-end;
      margin-bottom: 8px;
    }

    &-price-title {
      @include h2;
      padding: 0 4px;
      @include margin-top(0);
      @include margin-bottom(0);
    }

    &-title {
      @include h5;
      @include margin-top(0);
    }

    &-subtitle {
      flex: 1;
      @include body;
      @include margin-top(0);
      @include margin-bottom(1.5);

      @include breakpoint-md {
        @include margin-bottom(1);
      }

    }

    &-features {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;


      @include breakpoint-md {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      &-item {
        display: flex;
        width: auto;
        align-items: center;
        justify-content: center;

        @include breakpoint-sm {
          justify-content: flex-start;
        }
      }
    }

    &-checkmark {
      padding: 1px;
      height: 14px;
      width: 14px;
      margin: 0px;
      margin-right: 8px;
      background-color: transparentize($color-primary, 0.8);
      border-radius: 300px;
      color: $color-primary;
    }

    // &-button-wrapper {
    //   flex: 1;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: flex-end;
    // }

    &-button {
      display: block;
      @extend %button-secondary;
      @include margin-top(1);
      @include margin-bottom(0);
    }
  }
}

.custom-pricing {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  text-align: left;
  @include padding(3, 2);
  @include margin-bottom(3);
  background: $color-background-highlight;

  &__title {
    @include h5;
    @include margin-bottom(0.2);
    @include margin-top(0);
  }

  &__subtitle {
    margin-bottom: 0;
  }

  &__heading {
    flex: 1;
  }

  &__button {
    display: inline-block;
    align-self: center;
    @extend %button-secondary;
    justify-self: flex-end;
    @include margin-bottom(0);
  }
}

.faq {

  & > p {
      @include body-l;
  }
  &__list {
    @include clear-list-style;
    text-align: left;
  }

  &__item {
    @include clear-list-style;
    @include breakpoint-sm {
    }

    @include breakpoint-md {
      lost-column: 1/2 2 64px;
    }

    &-title {
      @include h5;
    }
  }
}
