@import '../../../assets/scss/helpers';

.signup {
  @extend %layout-container-center,
  %layout-container-divider;

  &__inner {

    @include padding-top(3);
    @include padding-bottom(2);
    text-align: center;
    background: url('../../../assets/svg/signup-background.svg') no-repeat center center;
    background-size: cover;
    border-radius: 8px;
  }

  :local(button),
  :local(input) {
    @include margin-bottom(0);
  }

  &__wrapper {
    @include margin-bottom(0);

    .signup__button {
      @include margin-bottom(0);
    }
  }

  &__title {
    @include margin-top(0);
  }

  &__subtitle {
    @include body-l;
    @include margin-top(0);
    @include margin-bottom(1);

    @include breakpoint-sm {
      @include margin-top(-0.5);
    }
  }

  &__newsletter {
    lost-center: 600px;
  }

  &__newsletter-wrapper {
    display: flex;
    justify-content: center;
  }

  &__newsletter-input-wrapper {
    position: relative;
    width: 50%;
  }

  &__newsletter-input-wrapper+&__newsletter-button {
    margin-left: 16px;
  }

  &__newsletter-button {
    @extend %button;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__notice {}

  &__newsletter-prefix {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 16px;
  }
}
