$global-radius: 3px;
$button-default: 7px 16px 7px 16px;
$button-default-border: 8.5px 14px 10.5px 14px;
$button-large: 12px 12px;

%button-reset {
  all: unset;
  cursor: pointer;

  &:hover,
  &:focus {
    all: unset;
    cursor: pointer;
  }
}

%button-base {
  @include button;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: auto;
  box-sizing: border-box;
  padding: $button-default;
  height: auto;
  color: $color-white;
  font-weight: $font-weight-bold;
  border-radius: $global-radius;
  outline: 0;
  border: 1px solid transparent;
  cursor: pointer;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
  }
}

%button,
button {
  @extend %button-base;
  background: $color-primary;
  border: 1px solid $color-primary;
  color: $color-white;

  &:hover,
  &:focus {
    background: darken($color-primary, 5%);
    border: 1px solid transparent;
    color: $color-white;
  }
}

%button-plain {
  @include button;
  background: none;

}

%button-small {
  @extend %button-base;
  padding: 4px 8px;
}

%button-secondary {
  @extend %button-base;
  color: $color-primary;
  padding: $button-default-border;
  background: transparent;
  border: 1px solid $color-primary;

  &:hover,
  &:focus {
    color: darken($color-primary, 5%);
    background: none;
    border-color: darken($color-primary, 5%);
  }
}
