$section-height: 50px;
$mobile-padding: 16px;
$tablet-padding: 24px;

%layout-container {
  position: relative;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  @include breakpoint-sm {
    lost-center: 600px;
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @include breakpoint-md {
    lost-center: $layout-width;
  }
}

%layout-container-center {
  @extend %layout-container;
  text-align: center;
}

%layout-container-divider {
  position: relative;
  @include margin-top(2);
  @include padding-top(2);
  @include padding-bottom(1.5);

  &:before {
    border-top: 1px solid $color-border;
    content: "";
    position: absolute;
    width: calc(100% - #{$mobile-padding * 2});
    height: 1px;
    top: 0;
    left: $mobile-padding;
    right: $mobile-padding;
    bottom: 0;

    @include breakpoint-md {
      width: calc(100% - #{$tablet-padding * 2});
      left: $tablet-padding;
      right: $tablet-padding;
    }
  }
}
