$input-height: $typographic-base-line-height+17px+4px;

input {
  display: block;
  width: 100%;
  padding: 10px 16px;
  font-size: $typographic-base-font-size;
  font-family: $typographic-font-family;
  line-height: $typographic-base-line-height;
  color: $text-dark;
  background-color: $color-input-background;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $color-input-border;
  border-radius: $base-border-radius;

  @include placeholder;

}
