%pattern {
  position: absolute;
  opacity: 0.1;
  background: url('../../assets/svg/hero-pattern.svg') repeat;
  background-size: 0.8%;
  width: 100vw;
  height: 700px;
  left: 50%;
  right: 50%;
  margin-left: -40vw;
  margin-right: -50vw;
}
