@import '../../assets/scss/helpers';

$section-spacing: 50px;

$cards: slack twitter jira intercom;

@keyframes heroSize {
  0% {
    width: 100%;
  }

  100% {
    width: 90%;
  }
}

.wrapper {
  background-image: url('../../assets/svg/pattern-bg-top.svg');
  background-size: 200% 1503px;
  background-position: center -100px;
  background-origin: content-box;
  background-repeat: no-repeat;
}

// .hero {
//   &__inner {
//     @extend %layout-container-center;
//   }

//   &__title,
//   &__subtitle {
//     lost-center: 760px;
//     text-align: center;
//   }

//   &__signup {
//     @include margin-bottom(4);

//     @include breakpoint-md {
//       @include margin-bottom(0);
//     }
//   }

//   &__title {
//     @include h1;
//     @include margin-top(4);
//     @include margin-bottom(1);

//     @include breakpoint-md {
//       @include margin-top(2.5);
//     }
//   }

//   &__subtitle {
//     @include body-l;
//     @include margin-bottom(1.5);
//     width: 85%;

//     @include breakpoint-sm {
//       width: auto;
//     }
//   }

//   &__image-wrapper {
//     position: relative;
//     @include margin-top(2);
//     @include margin-bottom(3);

//     @include breakpoint-md {
//       @include margin-bottom(0);
//     }
//   }

//   &__pattern {
//     display: none;
//     position: absolute;
//     opacity: 0.1;
//     background: url('../../assets/svg/hero-pattern.svg') repeat;
//     background-size: 0.8%;
//     width: 100vw;
//     height: 700px;
//     left: 50%;
//     right: 50%;
//     margin-left: -40vw;
//     margin-right: -50vw;
//   }

//   .hero-no-animate {

//     .hero-app,
//     .hero-card,
//     .hero-cat {
//       visibility: hidden;
//     }
//   }

//   .hero-animate {

//     .hero-app,
//     .hero-card,
//     .hero-cat {
//       visibility: visible;
//     }

//     .hero-app {
//       animation: heroSize 1s 0.5s $animation-fast both;
//     }

//     .hero-card {
//       animation: slideInUp 1s $animation-medium both;
//     }

//     .hero-cat {
//       animation: moveUp 2s 3s $animation-medium both;

//     }
//   }

.companies,
.features,
.testimonials,
.integrations {
  &__title {
    @extend %section-title;
  }
}

.hero {
  &__inner {
    @extend %layout-container-center;
  }

  .intro-wrapper {
    display: block;
    @include margin-top(3);
    @include margin-bottom(3.5);

    @include breakpoint-md {
      lost-center: 88%;
    }
  }

  &__title {
    @include breakpoint-md {
      text-align: left;
    }
  }

  &__signup {
    @include margin-bottom(4);

    @include breakpoint-md {
      @include margin-bottom(0);
      justify-content: flex-start;

    }

    >div {

      @include breakpoint-md {
        flex: 1;
      }
    }
  }

  &__subtitle-wrapper {
    position: relative;

    @include breakpoint-md {
      @include margin-top(0.4);
      lost-column: 1/2;
      text-align: left;
    }

    p {
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      @include breakpoint-md {
        text-align: left;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__bird {
    display: none;

    @include breakpoint-md {
      position: absolute;
      display: block;
      top: 5px;
      right: 0;
    }
  }

  .prioritise,
  .manage,
  .track {
    display: inline-block;
    padding: 0px 2px;
    line-height: 1.3;
    margin-right: 2px;
    border-radius: 4px;
  }

  .prioritise {
    background-color: lighten($color-primary, 40%);
    color: $color-primary;
  }

  .manage {
    background-color: lighten($color-yellow, 35%);
    color: darken($color-yellow, 15%);
  }

  .track {
    background-color: lighten($color-purple, 30%);
    color: $color-purple;
    margin-left: 2px;
  }

  &__title {
    @include margin-top(0);
    @include margin-bottom(1);

    @include breakpoint-md {
      @include display;
      @include margin-top(-0.5);
      lost-column: 1/2;
    }
  }

  &__subtitle {
    @include body-l;
    @include margin-bottom(1.5);

    @include breakpoint-md {
      width: 60%;
      @include margin-bottom(0.5);
    }
  }

  &__image-wrapper {
    position: relative;
    @include margin-top(2);
    @include margin-bottom(3);

    @include breakpoint-md {
      margin-left: -5%;
      margin-right: -5%;
      @include margin-bottom(0);
    }
  }

  &__pattern {
    display: none;
    position: absolute;
    opacity: 0.1;
    background: url('../../assets/svg/hero-pattern.svg') repeat;
    background-size: 0.8%;
    width: 100vw;
    height: 700px;
    left: 50%;
    right: 50%;
    margin-left: -40vw;
    margin-right: -50vw;
  }

  .hero-no-animate {

    .hero-app,
    .hero-card,
    .hero-cat {
      visibility: hidden;
    }
  }

  .hero-animate {

    .hero-app,
    .hero-card,
    .hero-cat {
      visibility: visible;
    }

    .hero-app {
      animation: heroSize 1s 0.5s $animation-fast both;
    }

    .hero-card {
      animation: slideInUp 1s $animation-medium both;
    }

    .hero-cat {
      animation: moveUp 2s 3s $animation-medium both;
      display: none;

    }
  }

  ul>.hero-card {
    position: absolute;
    right: 0px;
    z-index: 110;
    width: 150px;

    @include delay(animation-delay, 4, 0.5s);

    @include breakpoint-sm {
      width: 200px;
    }

    @include breakpoint-md {
      width: auto;
    }

    &.hero-card-slack {
      top: -20px;
      right: 8%;
    }

    &.hero-card-twitter {
      top: 25%;
      right: 0;
    }

    &.hero-card-jira {
      right: 0;
      top: 54%;
    }

    &.hero-card-intercom {
      right: 8%;
      top: unset;
      bottom: -40px;
    }
  }


  .hero-app {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
    transform-origin: 100% 50%;
  }

  .hero-cat {
    z-index: 50;
    position: absolute;
    top: -40px;
    left: 5%;
    width: 40px;


    @include breakpoint-md {
      top: -55px;
      width: auto;
    }
  }
}


.companies+.features {
  margin-top: $section-spacing;
}

.features {

  &__inner {
    @extend %layout-container-center,
    %layout-container-divider;
    text-align: center;

    @include breakpoint-md {
      background: url('../../assets/svg/conflux-logo.svg') no-repeat center 70%;
    }
  }

  &__title {
    @extend %section-title;
    @include margin-top(1.5);
  }

  &__subtitle {
    @include body-l;
    @include margin-bottom(3);
  }

  &__plane-right,
  &__plane-left {
    display: none;

    @include breakpoint-md {
      display: block;
      position: absolute;
      top: 12%;
      width: 200px;
      height: 200px;
    }
  }

  &__plane-right {
    right: 12%;
    background: url('../../assets/svg/arrow-plane-down.svg') no-repeat center center;
  }

  &__plane-left {
    left: 12%;
    background: url('../../assets/svg/arrow-plane-up.svg') no-repeat center center;
  }

  &__list {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;

    &-item {
      text-align: center;
      lost-center: 320px;
    }

    &-title {
      @include h5;
      @include margin-top(1.5);

      @include breakpoint-md {
        @include margin-top(1);
      }
    }

    &-image {
      margin: 0 auto;
    }

    &-split {
      margin-top: 32px;

      @include breakpoint-md {
        display: flex;
        flex-direction: row;
        background: url('../../assets/svg/arrow-plane-middle.svg') no-repeat 50% 95%;
      }

      li:first-child {

        @include breakpoint-md {
          text-align: center;
          margin-left: 0;
        }
      }

      li:last-child {

        @include breakpoint-md {
          margin-right: 0;
        }
      }
    }
  }
}

.signup {
  @extend %layout-container-center,
  %layout-container-divider;

  &__inner {

    @include padding-top(3);
    @include padding-bottom(2);
    text-align: center;
    background: url('../../assets/svg/signup-background.svg') no-repeat center center;
    background-size: cover;
    border-radius: 8px;
  }

  :local(a),
  :local(input) {
    @include margin-bottom(0);
  }

  &__wrapper {
    @include margin-bottom(0);

    .signup__button {
      @include margin-bottom(0);
    }
  }

  &__title {
    @include margin-top(0);
  }

  &__subtitle {
    @include body-l;
    @include margin-top(0);
    @include margin-bottom(1);

    @include breakpoint-sm {
      @include margin-top(-0.5);
    }
  }



  &__newsletter {
    lost-center: 600px;
  }

  &__newsletter-wrapper {
    display: flex;
    justify-content: center;
  }

  &__newsletter-input-wrapper {
    position: relative;
    width: 50%;
  }

  &__newsletter-input-wrapper+&__newsletter-button {
    margin-left: 16px;
  }

  &__newsletter-button {
    @extend %button;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__notice {}

  &__newsletter-prefix {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 16px;
  }
}
