@import '../../assets/scss/helpers';

.footer {

  &__inner {
    @extend %layout-container,
    %layout-container-divider;
  }

  &__copyright {
    @include body-s;

    p {
      color: $text-subdued;
    }

    &-list {
      display: inline-flex;
      list-style: none;
      padding: 0;
      margin: 0 -8px;

      &-item {
        padding: 0 8px;
      }

      &-item-link {
        color: $text-dimmed;
      }
    }
  }

  &__list {
    @include clear-list-style;
    margin-bottom: 24px;

    @include breakpoint-sm {
      lost-column: 1/2;
    }

    @include breakpoint-md {
      lost-column: 1/4;
    }

    &-item {
      @include clear-list-style;
      padding: 0;

      &-link {
        color: $text-dark;
      }
    }

    &-title {
      @include overline;
      color: $text-dimmed;
      margin-top: 0;
    }
  }

  &__logo svg {
    margin: 0;
    width: auto;
    height: 20px;
  }

  &__details {
    lost-column: 1/2;

    @include breakpoint-md {
      lost-column: 1/4;
    }
  }
}
