@import '../../assets/scss/helpers';

.flex-pricing {


  &__slider {
    lost-center: 320px;
    text-align: left;
    margin-top: -16px;

    @include breakpoint-md {
      lost-center: 540px;
      margin-top: -32px;
    }

    &-image {
      margin: 0 auto;
      padding-bottom: 32px;
    }

    &-price,
    &-users {
      @include h2;
      color: $text-dark;
      text-align: left;
      font-weight: $font-weight-bold;
      display: inline-block;

      @include breakpoint-md {}

      span {
        @include body-s;
        display: block;
        font-weight: $font-weight-normal;
        letter-spacing: 0;
        color: $text-dimmed;

        @include breakpoint-md {
          @include body;
        }
      }
    }

    &-users {
      margin-right: 16px;

      @include breakpoint-md {
        margin-right: 32px;
      }
    }

    &-price {
      &--contact {
        @include body;
      }
    }

    &-button {
      width: 125px;
      @include margin-top(2);
      float: right;
      text-align: right;

      @include breakpoint-md {
        width: auto;
      }


      a {
        @extend %button-base,
        %button;
        display: inline-block;
        @include margin-bottom(0.75);
      }

      span {
        display: block;
        @include body-s;

        @include breakpoint-md {
          @include body;
        }
      }
    }
  }
}
